.messageBuilderWrapper {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  height: 100%;
  left: 56px;
  overflow: scroll;
  padding: 26px 24px;
  position: absolute;
  top: 0;
  width: 360px;

  h6 {
    font-size: 16px;
  }

  .messageBuilderHeader {
    h5 {
      display: inline-block;
      margin-top: 4px;
    }

    button {
      float: right;
    }
  }
}

.messageBuilderContent {
  margin-top: 32px;

  h6 {
    display: inline-block;
    margin-bottom: 14px;
  }
}

.messageBuilderContentBox {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 16px 21px;

  .messageEditorIcon {
    padding-right:4px;
    vertical-align: top;
  }

  .messageEditorErrrorIcon {
    font-size: 16px;
  }

  .messageHeaderEditorSwitch {
    float: right;
  }

  div {
    margin: 0 0;
  }

  p {
    letter-spacing: 0;
    margin: 0;
  }

  .messageEditorChip {
    float: right;
  }

  .messageEditorTip {
    background: #F5F5F5;
    border-radius: 6px;
    margin-top: 18px;
    padding: 16px 12px;

    p {
      display: inline-block;
    }

    svg {
      vertical-align: text-bottom;
    }

    .messageEditorClose {
      display: block;
      float: right;
    }

    span {
      color: #0000008A;
      display: block;
      margin-top: 6px;
    }
  }
}